@* examplechart Template File *@
<html>
<head>
<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.2/jquery.min.js"></script>

<script>
	google.charts.load('current', {
		packages : [ 'corechart' ]
	});
	google.charts.setOnLoadCallback(drawStacked);
	var jsonData
	var mapped = {}; 
	function drawStacked() {
		jsonData = {
			"cols" : [ {
				"label" : "Data&ora",
				"type" : "datetime"
			}, {
				"label" : "Temp Rovigo",
				"type" : "number"
			},
			{
				"label" : "Temp Napoli",
				"type" : "number"
			}
			],
			"rows" : [ ]
		}
		var googleData = new google.visualization.DataTable(jsonData);

		// new Date(Year, Month, Day, Hours, Minutes, Seconds, Milliseconds)
		var options = {
			title : 'Temperature a Rovigo e Napoli',
			hAxis : {
				title : 'Ora del giorno'
			},
			vAxis : {
				title : 'Temperatura (celsius)'
			},
			curveType: 'function',		
			intervals: { 'style':'line' },
			legend: 'none',
			height: 600	
		};

		var chart = new google.visualization.LineChart(document.getElementById('chart_div'));
		chart.draw(googleData, options);
	
		// just in case we need to play with the dates
		@getrestdata("Rovigo","Napoli"){ date => @date *1000 }{value => @value }

		getData();
		setInterval( getData , 5000);
				
	}
</script>

</head>
<body>
<div id="chart_div"></div>
<div id="swagger">
<a href="@routes.HomeController.swagger" >
<img src='@routes.Assets.at("lib/swagger-ui/images/favicon-32x32.png")' style="vertical-align:middle;width:32px;height:32px;"></a>
<a href="@routes.HomeController.swagger" >Swagger</a>
</div>
</body>
</html>
